.warning{
    height: 40px;
    width: 250px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(241, 220, 220);
    font-size: 1.1rem;
    color: rgb(235, 218, 218);
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}